---
  - name: playbook installation, activation, verification service web
    hosts: all
    gather_facts: no
    become: true
    vars: 
        web_pkg: httpd
        firewall_pkg: firewalld
        python_pkg: python3-PyMySQL
        web_service: httpd
        firewall_service: firewalld
        rule: http
    tasks:
        - name: verif installation des packages
          package:
             name:
               - "{{ web_pkg }}"
               - "{{ firewall_pkg }}"
               - "{{ python_pkg }}" 
             state: present
        - name: demarrage et activation service 
          service:
             name: "{{ web_service }}"
             state: started
             enabled: true

        - name: demarrage et activation service
          service:
             name: "{{ firewall_service }}"
             state: started
             enabled: yes 
        - name: copier msg
          copy: 
             content: 'exemple web page'
             dest: /var/www/html/index.html 
        - name: assurer firewall 
          command: firewall-cmd --add-service={{ rule }} --permanent
        - name: reload firewall
          command: firewall-cmd --reload
  
  - name: play 2
    hosts: localhost
    become: false 
    tasks:
        - name: verif config
          uri:
            url: http://ansible1.example.com:80/index.html
            status_code: 200
                 
